<!-- Events App version:{{eventsApp.version}}-->

 <div class="current">
    <h3>Next event</h3>
    <ul class="evt-calendar">
	<li>
		<div class="event-title"><a title="{{currentEvent.name}}" href="{{currentEvent.event_url}}"><img class="meetup-logo" title="meetup" src="http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg"/>{{currentEvent.name}}</a></div>
                <div class="event-time"><time>{{hbDateFormat currentEvent.time}}</time></div>
		<div class="event-loc"><a target="map" href="https://www.google.co.uk/maps/place/Wimbledon,+London+SW19+7NB/@51.4224528,-0.207775,17z/data=!3m1!4b1!4m2!3m1!1s0x487608b707872fa7:0x58fa72b6accbeec">{{currentEvent.venue.address_1}}, {{currentEvent.venue.city}}</a></div>
                <div class="event-description">{{{currentEvent.description}}}</div>
            </li>
	    <!-- welcome, hacker
		{{hbStringify this}}
		-->
    </ul>
</div>

<br clear="both"/>

    <div class="upcoming">
    <h3>Future events</h3>
    <ul class="evt-calendar">
        {{#each futureEvents}}
            <li>
                
                <div class="event-title"><a title="{{this.name}}" href="{{this.event_url}}"><img class="meetup-logo" title="meetup" src="http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg"/>{{this.name}}</a></div>
		<div class="event-time"><time>{{hbDateFormat this.time}}</time></div>
                <div class="event-description">{{{this.description}}}</div>
            </li>
        {{/each}}
    </ul>
</div>

<br clear="both"/>

<div class="previous">
    <h3>Previous events</h3>
    <ul class="evt-calendar">
        {{#each pastEvents}}
            <li>
                <div class="event-title"><a title="{{this.name}}" href="{{this.event_url}}"><img title="meetup" class="meetup-logo" src="http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg"/>{{this.name}}</a></div>
		<div class="event-time"><time>{{hbDateFormatShort this.time}}</time></div>
                <div class="event-description">{{{this.description}}}</div>
            </li>
        {{/each}}
    </ul>
	</div>	

