<!-- Events App version:{{eventsApp.version}}-->

 <div class="current">

    <ul class="evt-calendar">

        {{#if currentEvent}}
        	<li>
        		<div class="event-title"><a title="{{currentEvent.name}}" href="{{currentEvent.event_url}}"><img class="meetup-logo" title="meetup" src="http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg"/>{{currentEvent.name}}</a></div>
                <div class="event-time"><time>{{hbDateFormat currentEvent.time}}</time></div>
        		<div class="event-loc"><a target="map" href="https://www.google.co.uk/maps/place/Wimbledon,+London+SW19+7NB/@51.4224528,-0.207775,17z/data=!3m1!4b1!4m2!3m1!1s0x487608b707872fa7:0x58fa72b6accbeec">{{currentEvent.venue.address_1}}, {{currentEvent.venue.city}}</a></div>
                <button class="description-button btn btn-xs" type="button" data-toggle="collapse" data-target="#description-text" aria-expanded="false" aria-controls="description-text">
                    <span class="description-icon glyphicon glyphicon-triangle-right"></span> Details
                </button>
                <div id="description-text" class="collapse event-description description-text">{{{currentEvent.description}}}</div>
            </li>
        {{else}}
            <li>
                Details coming soon, but there is usually an event every two weeks.
            </li>
        {{/if}}

    </ul>

</div>
