<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1><img src="/img/hackws128transp.png"></img> at a glance</h1>

        </div>

    </div>

    <div class="row">

            <div class="col-md-6">

            <h2>Next Event</h2>

            <ul class="evt-calendar">

                {{#if currentEvent}}
                    <li>
                        <div class="event-title"><a title="{{currentEvent.name}}" href="{{currentEvent.event_url}}">{{currentEvent.name}}</a></div>
                        <div class="event-time"><time>{{hbDateFormat currentEvent.time}}</time></div>
                        <div class="event-loc"><a target="map" href="https://www.google.co.uk/maps/place/Wimbledon,+London+SW19+7NB/@51.4224528,-0.207775,17z/data=!3m1!4b1!4m2!3m1!1s0x487608b707872fa7:0x58fa72b6accbeec">{{currentEvent.venue.address_1}}, {{currentEvent.venue.city}}</a></div>
                        <div class="event-description">{{{currentEvent.description}}}</div>
                    </li>
                {{else}}
                    <li>
                        Details coming soon, but there is usually an event every two weeks.
                    </li>
                {{/if}}
            </ul>

        </div>

        <div class="col-md-6">

            <H2>HackWimbledon News</H2>

            <div class="well">
                We're in our new digs at MAE Wimbledon where <a href="http://wimbletech.com">Wimbletech</a> expanded into.
                The new room is bigger with ensuite coffee, beanbags and even a projector and screen! It's all still being
                brought up to speed but it's a great improvement for the group!
            </div>
            <div class="well">
                Ongoing project - The CoffeeHack - We're working with RFID cards to drive an honesty box for coffee donations!
                Come along to a meeting to check it out.
            </div>

            <a class="twitter-timeline"  href="https://twitter.com/HackWimbledon" data-widget-id="620996615239827457">Tweets by @HackWimbledon</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>

    </div>

</div>
