<div class="container resources-container">

    <div class="row">

        <div class="col-md-12">

      		<h1>Recommended by HackWimbledon</h1>
      	  	<p>
	             This page links to sites that HackWimbledon or its members
               recommend. You should find something of interest here as we
               build up the collection of links. Search is coming soon!
  	  	  	</p>
	  	  	<br>

		  </div>

		  <div class="col-md-12">

          {{#each resources }}
              <section class="panel panel-primary">
                  <header class="panel-heading">
                		  <span class="h3">{{ category-title }}</span>
                  </header>
                  <div class="panel-body">
                		  {{#if category-image}}
                          <img src='{{category-image}}' class="category-image"/>
                      {{/if}}
				              {{ category-description }}
              	  </div>
			            <ul class="list-group">
			        	      {{#each category-links}}
			                    <li class="list-group-item">
			                        <span class="h4"><strong>{{this.link-title}}</strong></span>
                              <br>
			                	      <a class="" target=_blank href="{{ this.link-url }}"><strong>{{ this.link-url }}</strong></a>
			                	      <p>
			                	      {{{this.link-description}}}
			                    </li>
			                {{/each}}
			            </ul>
              </section>
          {{/each}}

      </div>

    </div>

</div>
