<div class="container">

    <div class="row">

        <div class="col-md-12">

      		<h1>Recommended by HackWimbledon</h1>
      	  	<p>
	      	  	Salvia shabby chic roof party YOLO, +1 sartorial craft beer fashion axe Godard kogi Odd Future cornhole flannel meditation Vice. Normcore kogi lumbersexual synth mlkshk pour-over. Pickled literally +1 you probably haven't heard of them crucifix YOLO, art party Helvetica plaid biodiesel semiotics messenger bag cronut synth. Fanny pack hella Godard Tumblr Truffaut authentic. Trust fund asymmetrical kitsch iPhone retro. 
	  	  	</p>
	  	  	<br>

		</div>

		<div class="col-md-12">

            {{#each resources }}
            	<section class="panel panel-primary">
            		<header class="panel-heading">
                		<span class="h3">{{ category-title }}</span>
                	</header>
                	<div class="panel-body">
                		{{ category-description }}
              		</div>
			        <ul class="list-group">            
			        	{{#each category-links}}
			                <li class="list-group-item">
			                	<span class="h4"><strong>{{this.link-title}}</strong></span> 
			                	<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> 
			                	<a class="" href="{{ this.link-url }}"><strong>{{ this.link-url }}</strong></a>
			                	<p>
			                	{{this.link-description}}     	
			                </li>
			            {{/each}}
			        </ul>
			      	
                </section>
            {{/each}}

        </div>

    </div>

</div>
